<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Symfony</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Welcome to Symfony!</h1>
    <p>This is your home page.</p>
    <h2>Response from Mistral:</h2>
    <pre>{{ response|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
</body>
</html>
